/* your code */
table{
	width:800px;
	height:200px;
	border-radius:15px;	
}
thead{
	height:40px;
	padding:10px;
}

.names{
	font-style:bold;
	background-color:lightblue;
	color:white;
}

.cooldoggo{
	background-color:lightgray;

}

.strawberry{
	background-color:lightgray;
	
}












